Body {
  background-color: rgb(252, 246, 224);
}

strong{
  color: rgb(214, 71, 14);
}

.header{
  padding: 10px;
}
.header h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  color: black;
  
  text-transform: uppercase;
  text-shadow: 1px 1px black;
}
.header h3{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  
}

.header h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 400;
  color: rgb(252, 97, 36);
}
.header h4:hover{
  text-decoration: underline;
}
.header h6{
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 0.5px solid lightsalmon;
  padding: 7px;
  width: 90%;
  border-radius: 5px;
  margin: auto;
}
.header h6:hover{
  background-color: rgb(255, 135, 88);
  color: white;
  border-radius: 5px;
}
.image {
  margin: 30px 0 30px 0;
}
.image .thumbnail {
  margin: auto;

}

.image .thumbnail img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
.image .thumbnail p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  width: 100%;
  background-color: rgb(231, 121, 77);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding:10px 0;
}
.image .thumbnail p:hover{
  background-color: rgb(230, 95, 42);
  color: white;
}
.achievements-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 400;
  text-decoration: underline;
}
.achievements-title:hover{
  color: rgb(224, 87, 33);
}
ul {
  display: inline-block;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.achievements{
  margin: auto;
  padding: 0 30px;
  width: 95%;
}
ul li{
  padding: 10px 5px;
  list-style: linear-gradient(rgb(230, 95, 42),rgb(230, 95, 42));
}



.quote {
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
  width: 50%;
  font-size:16px;
}

.quote .apos{
  font-size: 180px;
  color: rgb(230, 95, 42);
  margin-bottom: -140px;
}
.quote .apos1{
  font-size: 180px;
  color: rgb(230, 95, 42);
  margin-top: -50px;
}
.more-info {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
 
}

.footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: rgb(230, 95, 42);

}
